<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../ejsPartials/bootstrap') %>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Login</title>
</head>
<body>
  <%- include('../ejsPartials/navbar') %>
   <div class="body">
    <div class="form">
      <form action="/login" method="post" novalidate>
        <% if(errorMessage.length > 0) { %>   
          <div class="error"><%=errorMessage%></div>  
        <% } %>
        <% if(validationErrors.length > 0) { %>   
          <div class="error"><%=errorMsg%></div>  
        <% } %>
        <% if(successMessage.length > 0) { %>   
          <div class="success"><%=successMessage%></div>  
        <% } %>
           <h2>LOGIN</h2>
           <label for="email">Email</label>
           <input type="email" name="email" id="email" class="form-control <% if(validationErrors.find(e => e.param == 'email' )) { %>problem <% } %>  <% if(eCssStyle.length > 0) { %> <%=eCssStyle%> <% } %>" value="<%=oldInputs.email%><% if(loginEmailInput.length > 0) { %><%=loginEmailInput%><% } %>" required>
           <label for="password">Password</label>
           <input type="password" name="password" id="password" class="form-control <% if(validationErrors.find(e => e.param == 'password' )) { %>problem <% } %> <% if(pCssStyle.length > 0) { %> <%=pCssStyle%> <% } %>" value="<%=oldInputs.password%><% if ( loginPasswordInput.length > 0 ) { %><%=loginPasswordInput%><% } %>" required>
           <input type="submit" value="Login" class="button btn btn-primary">
           <p>Don't have an account? <a href="/signup">Signup</a></p>
     </form>
    </div>
   </div>
</body>
</html>